<nav style="background-color: black">
  <div style="color: white; text-align: center; padding: 5px">
    <a style="color: white; margin: 5px" href="/">Inicio</a>
    <a style="color: white; margin: 5px" href="/api/productos">Productos</a>
    <a style="color: white; margin: 5px" href="/cartform">Agregar al carrito</a>
  </div>
</nav>