<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar'); %>
    <main>
      <form style="margin: 20px 0px 20px 10px" method="POST" action="productos">
        <label>Título:</label>
        <input type="text" name="title" />
        <label>Precio:</label>
        <input type="number" name="price" />
        <label>Foto:</label>
        <input type="text" name="thumbnail" />
        <input type="submit" value="Enviar" />
      </form>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
