<nav style='background-color: black;'>
  <div style='color: white; text-align: center; padding: 5px;'>
    <a style='color: white; margin: 5px;' href='/'>Inicio</a>
    <a style='color: white; margin: 5px;' href='/productos'>Productos</a>
    <a style='color: white; margin: 5px;' href='/form'>Agregar Producto</a>
  </div>
</nav>