{{> navbar}}
<main>
  <form style='margin: 20px 0px 20px 10px;' method='POST' action='productos'>
    <label>Título:</label>
    <input type='text' name='title' />
    <label>Precio:</label>
    <input type='number' name='price' />
    <label>Foto:</label>
    <input type='text' name='thumbnail' />
    <input type='submit' value='Enviar' />
  </form>
</main>
{{> footer}}
