html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Formulario
  body(style='margin: 0px;') 
    nav(style='background-color: black;')
      div(style='color: white; text-align: center; padding: 5px;')
        a(style='color: white; margin: 5px;' href='/') Inicio
        a(style='color: white; margin: 5px;' href='/productos') Productos
        a(style='color: white; margin: 5px;' href='/form') Agregar Producto
    main
      form(style='margin: 20px 0px 20px 10px;' method='POST' action='productos')
        label  Título: 
        input(type='text' name='title')
        label  Precio: 
        input(type='number' name='price')
        label  Foto: 
        input(type='text' name='thumbnail')
        input(type='submit' value='Enviar')
    footer(style='background-color: black; padding: 5px;')
      p(style='color: white; text-align: center;  margin: 0px;') Sitio desarrollado por Nicolás Balaudo
