doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio
  body(style='margin: 0px;') 
    nav(style='background-color: black;')
      div(style='color: white; text-align: center; padding: 5px;')
        a(style='color: white; margin: 5px;' href='/') Inicio
        a(style='color: white; margin: 5px;' href='/productos') Productos
        a(style='color: white; margin: 5px;' href='/form') Agregar Producto
    main
      h1 Utiliza la navbar
    footer(style='background-color: black; padding: 5px;')
      p(style='color: white; text-align: center;  margin: 0px;') Sitio desarrollado por Nicolás Balaudo
      