<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario</title>
  <link rel="stylesheet" href="public/index.css">
</head>

<body style="margin: 0px">
  <%- include('../partials/navbar'); %>
  <main style="background-color: beige">
    <h1 style="padding: 10px; margin: 0px">Crear carrito por nombre exacto de producto. Ej: Calculadora (luego desde el carrito creado puede agregar más).</h1>
    <form style="padding: 20px 0px 20px 10px" method='POST' action='/api/carrito'>
      <label>Producto:</label>
      <input type="text" name="prod1" />
      <input type="submit" value="Enviar" />
    </form>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>