<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario</title>
  <link rel="stylesheet" href="public/index.css">
</head>

<body style="margin: 0px">
  <%- include('../partials/navbar'); %>
  <main style="background-color: beige">
    <h1 style="padding: 10px; margin: 0px">Agregar producto</h1>
    <form style="padding: 20px 0px 20px 10px" method='POST' action='/api/productos'>
      <label>Título:</label>
      <input type="text" name="title" />
      <label>Precio:</label>
      <input type="number" name="price" />
      <label>Foto(URL):</label>
      <input type="text" name="thumbnail" />
      <label>Descripción:</label>
      <input type="text" name="description" />
      <label>Código:</label>
      <input type="text" name="code" />
      <label>Stock:</label>
      <input type="number" name="stock" />
      <input type="submit" value="Enviar" />
    </form>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>