<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/index.js"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
      #in-id {
        pointer-events: none;
      }
    </style>
  </head>

  <body style="margin: 0px">
    <%- include('../partials/navbar', {email: user.email}); %>
    <main style="background-color: beige">
      <h1 style="padding: 10px; margin: 0px">Centro de mensajes</h1>
      <form style="padding: 20px 0px 20px 10px" onsubmit="return enviar('<%= user._id %>', '<%= user.email %>')">
        <label>Mensaje:</label>
        <input id="in-text" type="text" name="text" required />
        <input type="submit" value="Enviar" />
      </form>
      <div id="div-msg" style="height: 300px; overflow: scroll"></div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
